* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header .nav-logo {
  height: 50px;
  width: 50px;
}
nav ul li a:hover {
  color: rgb(18, 188, 218);
  font-size: 1.2rem;}

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/logo1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}

nav img {
  width: 150px;

}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

}

.nav-links ul li a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62PX;
}

.text-box P {
  margin: 10PX 0 40PX;
  font-size: 14PX;
  color: #fff;

}

.hero-btn {
  border: solid white;
  border-width: 3px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 12px 34px;
  padding: 10px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}


/*-----veriety-------*/


.veriety {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;

}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.veriety-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;

}

.veriety-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/*----benefits----*/


.benefits {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;

}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.benefits-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;

}

.benefits-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*-----reviews----*/
.reviews {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
.reviews-col {
  flex-basis: 41%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}

.reviews-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.reviews-col img{
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 30%;
}
    .bi-star-fill{
      color: gold;
    }

    /*----about-------*/
    
 
 .about{
  background-image: linear-gradient(rgba(0,0,0,0.7),  rgba(0,0,0,0.7) ) , url(INTERN/landingpage/logo1.jpg);
  background-color: rgb(5, 22, 59);
      height: 400px;
       align-content: center;
       width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
    }
   .about .about-col {
     text-align: center;
     padding: 80px;

    }
    
    .about .about-col h1 {
      font-size: 62PX;
      color: white;
    }
    
   .about  .about-col P {
      margin: 10PX 0 40PX;
      font-size: 14PX;
      color: #fff;
    
    }
    
   .about  .about-btn {
      border: solid white;
      border-width: 3px;
    }
    
   .about .about-btn {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 12px 34px;
      padding: 10px;
      font-size: 13px;
      background: transparent;
      position: relative;
      cursor: pointer;
    }
    
   .about .about-btn:hover {
      border: 1px solid   #4a3e68;
      background: #c1eb1c;
      transition: 1s;
    }  
        
           /*----footer--------*/

    .footer{
      background-color: #bdb7b6;
      width: 100%;
      text-align: center;
      padding-bottom: 50px;
    }
    .footer h4{
      margin-bottom: 25px;
      margin-top: 50px;
      font-weight: 600;
      padding-top: 50px;
  

    }


  .bi  {
color: #f44336;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;

       }
.bi-heart{
  color: #f44336;
}
